body {
background-color: lightgray;
text-align: center;
}

.main-header {
height: 850px;
padding-top: 170px;    
}

.main-header, .title {
text-align: center;
}

.title {
font-size: 1.345cm;
color: violet;
letter-spacing: .065cm;
font-weight: 200;
border-bottom: 2px solid;
padding-bottom: 10px;    
}

