body {
background-color: lightgray;
text-align: center;
}

.main-header {
height: 850px;
padding-top: 170px;
/*background-image: url('../img/Lake.jpg');*/
/*background-image: radial-gradient(circle at top, #ffa949, firebrick);
background-image: linear-gradient(#ffa949, firebrick);*/
background: linear-gradient(#ffa949, transparent 90%),
background-repeat: no-repeat;    
background-size: cover;
background-position: center;
}

.main-header, .title {
text-align: center;
}

.title {
font-size: 1.625cm;
color: white;
letter-spacing: .065cm;
font-weight: 200;
border-bottom: 2px solid;
padding-bottom: 10px;    
}





























